body {
    /*убираем отступы и поля*/
    margin: 0;
    padding: 0;
    background: #000;
    scroll-behavior: smooth; /*плавные переходы*/
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.buttons {
    margin-top: 50px; /* Отступ сверху */
    display: flex;
    gap: 15px; /* Промежуток между кнопками */
}

.button-message-me {
    width: 200px; /* Задаем фиксированную ширину */
    height: 50px; /* Задаем фиксированную высоту */
    /*font-family: Arial, Helvetica, sans-serif;*/
    background: none;
    color: white; /* Белый текст */
    border: 2px solid white; /* Белая граница */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    border-radius: 10px; /* Закругленные углы */
    cursor: pointer; /* Изменение курсора на указатель */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Анимация изменений */
}

/* Эффект при наведении на кнопку */
.button-message-me:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.6);
    color: #ffffff; /* Дополнительный эффект яркости */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон */
    border-color: #ffffff; /* Подчеркиваем белую границу */
}

.autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
    }
    40%,60% {
        filter: blur(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}

