<!DOCTYPE html>
<html lang="en" id="top">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Williams Samuel - Frontend Developer</title>
</head>
<body>
<a class="skip-to-content" href="#main-content">Skip to content</a>
<main id="main-content">
  <section class="hero">
    <div class="container">
      <article class="hero-text bounce-in-left">
        <div>
          <p class="subtitle">python - developer</p>
          <h1 class="name">Williams Samuel</h1>
        </div>
        <div>
          <p class="intro">
            A Lagos, Nigeria based self-taught Frontend Developer who
            specializes in building exceptional digital experience.
          </p>

          <div class="hero-btn-container">
            <a href="https://t.me/c/2286869017/173" class="btn hire-btn">
              Напиши мне
            </a>
          </div>
        </div>
      </article>
      <img
              src="../assets/movies/me2.jpg"
              alt="coding desk"
              class="fade-in code" />
    </div>
    </section>
</main>
</html>